/Neuron/nbproject/private/
Neuron/.dep.inc
Neuron/Klasy.dia
Neuron/build/
Neuron/dist/
/NeuralNetwork/build/Debug/
/NeuralNetwork/dist/Debug/
/NeuralNetwork/nbproject/private/
/NeuralNetwork/test.ann
